.App {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh; /* Ensure the app takes up full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App h1 {
  color: #333;
  margin-bottom: 20px;
}