.todo-item {
  display: flex;
  align-items: center;
  padding: 20px;
  /* border: 5px solid #9b908f; */
  width: 100;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
  /* display: center; */
  order: 1px solid #d7cfcfbb;
  width: 20px;
  margin-left: 10px;
  flex-shrink: 0; /* Prevent shrinking */
}

.todo-item span {
  flex-grow: 1; /* This will make the span take up the remaining space */
  /* display: center; */
  font-size: 16px;
  font-family: 'Comic Sans MS', cursive;
  word-break: break-word; /* Ensure long text wraps within the container */

}

.todo-item.completed span {
  text-decoration: line-through;
  color: #aaa;
}

/* .todo-item button {
  background-color: #9b908f;
  color: white;
  border: 5px solid #9b908f;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 10px;
   
  /* transition: background-color 0.3s; Smooth transition for hover effect */
/* }  */
